
#DBTbl1 , #DBTb2{

    border-start-end-radius: 1px;
    border: 3px solid;
    border-color:#C0C0C0;

}
#tabdiv{
    background-color: rgb(154, 175, 231);

}
a{
    font-size: 20px;
    color: white;
    text-emphasis-color:white;
}
.header
{

   margin-bottom: 2px;
    background-image: url(/resources/img/header1.png);
   background-size:100%;
   background-repeat: no-repeat;
   height: 70px;
   font-weight: bold;
   text-align: right;

  border: 1px solid #ddd;
}
#dashhead {
	color:white;
  	text-align: left;
  	padding: 5px;
    background-color: #007bff;
    font-weight: lighter;
    border-radius: 5px;


}
#dashboard{

    border: solid 1px;
    margin: 5px;
    border-radius: 6px;
    border-color: rgb(101, 151, 167);

}
#dashtable{
     border-collapse: collapse;
      border-spacing: 0;
      width: 200%;
      border: .5px solid #ddd;

}


